.todo-div {
  grid-column: 2/3;
  grid-row: 2/4;
  position: relative;
  background-color: rgb(170, 162, 162);
  border-bottom-right-radius: 20px;

  & div.current-list-name {
    padding: 5px 30px 0 30px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }

  & button.create-task-directly {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: purple;
    border: 2px solid purple;
    border-radius: 10px;
    color: white;
  }

  & button.create-task-directly:hover {
    border: 2px solid white;
    cursor: pointer;
  }

  & div.display-for-tasks {
    display: grid;
    grid-template-columns: 1fr;
    /* Expanded todos can take up space and free it up back and forth */
    grid-auto-rows: min-content;

    & p {
      width: 450px;
      overflow: hidden;
    }

    & p.add-more-title-info::before {
      content: "Title: ";
    }

    & p.add-more-due-date-info::before {
      content: "Due date: ";
    }

    & div.task-div {
      padding: 10px 60px 10px 80px;
      font-size: 1.4rem;
      font-style: italic;
      font-weight: bold;
      border-bottom: 2px solid black;
      position: relative;

      & button:hover {
        cursor: pointer;
      }

      & button.remove-task-btn,
      & button.expand-task-btn {
        padding: 5px 8px;
        position: absolute;
        width: 35px;
        height: 35px;

        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        border-radius: 10px;
      }

      & button.remove-task-btn {
        right: 60px;
        background-color: red;
      }

      & button.expand-task-btn {
        right: 110px;
        background-color: blue;
      }

      & button.edit-title-btn {
        position: absolute;
        top: 65px;
        right: 60px;
        padding: 5px 10px;
        font-weight: bold;
        font-size: 1.3rem;
        border-radius: 10px;
        border: 2px solid purple;
        background-color: purple;
        color: white;
      }

      & button.edit-title-btn:hover {
        border: 2px solid white;
      }

      & input.check-box {
        position: absolute;
        top: 10px;
        left: 40px;
        height: 25px;
        width: 25px;

        appearance: none;
        border-radius: 15px;
        background-color: grey;
        border: 3px solid black;
      }

      & input.check-box:hover::before {
        content: "✔";
        color: white;
        cursor: pointer;

        position: absolute;
        bottom: -7px;
        left: 0px;
        font-size: 1.7rem;
      }
    }
  }
}
