* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: darkcyan;
}

#content {
  padding: 50px 20px;
  width: 1000px;
  display: grid;
  grid-template-columns: 300px 900px;
  grid-template-rows: 150px minmax(300px, 1fr);

  & button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: red;
  }

  & button:disabled {
    background-color: black;
    color: grey;
  }

  & button:disabled:hover {
    cursor: default;
    text-decoration: none;
  }
}
