/* put styles into a few different files */

#content {
  width: 200px;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 50px 50px 1fr;
  gap: 15px;
}

.projects {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-auto-rows: 50px;
  gap: 10px;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  background: black;
  padding: 10px;
  color: palevioletred;

  border: 3px red solid;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
  color: yellow;
}

.create-todo,
.create-project {
  background-color: grey;
  color: skyblue;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
